.adsfa{
    box-shadow: 0px 0px 10px darkblue, 0px 0px 10px darkblue inset;
    border-radius: 100%;
    border: 2px solid blue;
    height: 450px;
    width: 450px;
    background-color:antiquewhite;
    position: absolute;
    left: 25%;
    top: 25%;
}
h1{
    text-align: center;
}
.nome{
    position: absolute;
    left: 25%;
    top: 20%;
}
label~.nome{
    position: absolute;
    left: 35%;
    top: 20%;
}
.t{
    position: absolute;
    left: 25%;
    top: 40%;
}
.t~.t{
    left: 39%;
}
.i{
    position: absolute;
    left: 25%;
    top: 30%;
}
.i~.i{
    left: 40%;
}
.a{position: absolute;
    left: 50%;
    top: 50%;
    background-color: #28a745;
}
.a:hover{
    background-color: green;
}
.e{
    position: absolute;
    left: 59%;
    border: none;
}
#pa{
    position: absolute;
    top: 10%;
    left: 45%;
    font-size: 50px;
    color: darkolivegreen;
}
a{
    position: absolute;
    left: 40%;
    top: 60%;
}
a~a{
    position: absolute;
    left: 40%;
    top: 40%;
}