body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h3,
h4 {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 1em;
    font-size: 18px;
    border-radius: 5px;
    margin: 10px 0;
}

.traduzir {
    display: inline-block;
    font-size: 18px;
    margin: 10px 0;
    position: relative;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.traduzir:hover {
    color: brown;
}

@keyframes borda-colorida {

    0%,
    100% {
        border-color: darkolivegreen;
    }

    25%,
    75% {
        border-color: green;
    }

    50% {
        border-color: darkgreen;
    }
}

.texto {
    background-color: #28a745;
    color: white;
    padding: 20px;
    font-size: 18px;
    border-radius: 20px;
    max-width: 90%;
    text-align: center;
    line-height: 1.5;
    border: 5px solid green;
    animation: borda-colorida 4s infinite;
    margin: 20px auto;
}
.traduzir::after {
    content: attr(data-traduzir);
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    pointer-events: none;
}

.traduzir:hover::after {
    opacity: 1;
}
.test-link {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    text-align: center;
}

.test-link:hover {
    background-color: #218838;
}